aside{
    position: absolute;
    top: -20px;
}
aside ul li{
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 23px;
}
aside ul{
    margin-top: 40px;
}
aside ul li:hover {
    background-color: rgba(20, 158, 202, 0.1); /* Example style */

}